body {
    width: 1360px;
    margin: 0;
}

.header {
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    position: absolute;
    margin-left: 49px;
    align-items: center;
}

.finance {
    color: #28A745;
    margin-left: 10.69px;
    margin-right: 10.69px;
}

.ledger {
    color: #fff;
}

.links {
    display: flex;
    color: #fff;
    position: absolute;
    left: 904px;
    top: 21px;
    gap: 38px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.hat-text-btn {
    position: absolute;
    left: 431px;
    top: 279px;
    color: #fff;
    text-align: center;
    margin: 0;
    width: 493px;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 66px;
    margin: 0;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
}

.hat-btn {
    background: #28A745;
    border-radius: 5px;
    border: none;
    width: 165px;
    height: 48px;
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.btn-svg {
    position: absolute;
    top: 158px;
    left: 180px;
}

.information {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 40px;
}

.circle1 {
    background: #28A745;
    border-radius: 33.5px;
    position: absolute;
    left: 192px;
    top: 790px;
    width: 67px;
    height: 67px;
    z-index: -1;
}

.circle2 {
    background: #28A745;
    border-radius: 33.5px;
    position: absolute;
    left: 645px;
    top: 790px;
    width: 67px;
    height: 67px;
    z-index: -1;
}

.circle3 {
    background: #28A745;
    border-radius: 33.5px;
    position: absolute;
    left: 1100px;
    top: 790px;
    width: 67px;
    height: 67px;
    z-index: -1;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
}

.information-text {
    width: 362px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}