body {
    width: 1360px;
    margin: 0;
}

h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 55px;
    line-height: 66px;
    margin: 0;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 37px;
}

h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.header {
    display: flex;
    position: absolute;
    margin-left: 49px;
    align-items: center;
}

.finance {
    color: #28A745;
    margin-left: 10.69px;
    margin-right: 10.69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.ledger {
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
}

.links {
    display: flex;
    color: #fff;
    position: absolute;
    left: 904px;
    top: 21px;
    gap: 38px;
}

.hat-text-btn {
    position: absolute;
    left: 431px;
    top: 279px;
    color: #fff;
    text-align: center;
    margin: 0;
    width: 493px;
}

.hat-btn {
    background: #28A745;
    border-radius: 5px;
    border: none;
    width: 165px;
    height: 48px;
    color: #fff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.btn-svg {
    position: absolute;
    top: 158px;
    left: 180px;
}

.information {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 40px;
}

.circle1 {
    background: #28A745;
    border-radius: 33.5px;
    position: absolute;
    left: 192px;
    top: 790px;
    width: 67px;
    height: 67px;
    z-index: -1;
}

.circle2 {
    background: #28A745;
    border-radius: 33.5px;
    position: absolute;
    left: 645px;
    top: 790px;
    width: 67px;
    height: 67px;
    z-index: -1;
}

.circle3 {
    background: #28A745;
    border-radius: 33.5px;
    position: absolute;
    left: 1100px;
    top: 790px;
    width: 67px;
    height: 67px;
    z-index: -1;
}

.information-text {
    width: 362px;
    color: black;
}

.solutions {
    display: flex;
    background: #28A745;
}

.solutions-text-btn {
    text-align: start;
    color: #fff;
    margin-left: 30px;
    margin-top: 84px;
}

.changed-h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    margin: 0;
}

.changed-h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 48px;
    margin: 0;
}

.solutions-parragraf {
    width: 606px;
}

.solutions-btn {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    width: 167px;
    height: 50px;
}

.what-we-do {
    text-align: center;
    margin: 50px 0 39px;
}

.grid-img {
    display: grid;
    grid-template: repeat(2, 214px)/ repeat(4, 320px);
    gap: 7px 8px;
    margin-left: 28px;
}

/* Responsive */

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
}

/* Medium: 768px - 991px */
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }
}

/* Small: 576px - 767px */
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}

/* Extra small: 0px (320px) - 575px */
@media (max-width: 575px) {
    .container {
        padding: 0 15px;
    }
}